@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import './variables';
@import './components/loader/_loader';
@import './components/header/_header';
@import './components/aside/_aside';
@import './components/map/_map';
@import './components/search/_search';
@import './components/error/_error';
@import './components/animations/_animations';
@import './components/primary-button/_button';
@import './helpers';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

html,body {
  overflow: hidden;
}

@include loader();

@include header()

@include aside();

@include map();

@include search();

@include primary-button();

@include error();

@include animations();