@mixin primary-button {
  .button-container {
    display: flex;
    width: $base-width - 20vw;
    height: 15vh;
    padding: 1em;
    position: absolute;
    bottom: 0;
    @include respond-to(small) {
      height: 45vh;
    }
    primary-button {
      background: $accent-color;
      position: absolute;
      border-radius: 100%;
      margin: 0 auto;
      padding: 2em;
      width: 3em;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      cursor: pointer;
      box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.2);
      @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        padding: 1.8em;
      }
      .material-icons {
        color: $primary-color;
      }
    }
  }
}