<div class='search' ng-if='vm.showControls'>
  <div class='search_inner'>
    <input type='text' placeholder='Enter your destination' ng-model='vm.location' ng-pattern ='/^[a-zA-Z\s]*$/'><i class='material-icons' ng-click='vm.getGeo()'>location_searching</i></input>
    <button ng-click='vm.getIncidents()' ng-disabled='!vm.location'>Search</button>
  </div>
</div>

<aside>
  <div class='fade' ng-if='showResults'>
    <h4>Incident Results <span class='accidents'>{{vm.incidents.estimatedTotal}}</span></h4>
    <h4>Description
    <p>{{vm.chosenOne.title}}</p>
    <p ng-if='!vm.chosenOne.title'>No marker selected</p></h4>

    <h4>Reason
    <p>{{vm.chosenOne.reason}}</p>
    <p ng-if='!vm.chosenOne.reason'>No marker selected</p></h4>

    <h4>Severity
    <p>{{vm.chosenOne.severity}}</p>
    <p ng-if='!vm.chosenOne.severity'>No marker selected</p></h4>

    <h4>Type of incident
    <p>{{vm.chosenOne.type}}</p>
    <p ng-if='!vm.chosenOne.type'>No marker selected</p></h4>
  </div>
  <div ng-if='!showResults && !transition'>
    <div class='center'>
      <span>
        <i class='material-icons'>map</i>
        <p>Choose a destination</p>
      </span>
    </div>
  </div>
</aside>